body {
    background-color: black;
    border: 1px solid rgb(47, 51, 54);
    margin-left: 16px;
    color: white;
    justify-content: center;
    text-decoration: none;
    font-family: "Helvetica Neue";
}

.wd-explore-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.wd-search-bar {
    color: white;
    background-color: darkgrey;
    border-radius: 40px;
    width: 90%;
    padding: 8px 24px;
}

.wd-gear {
    margin-right: 12px;
    color: rgb(29, 161, 242)
}

.wd-explore-hyperlink-tabs {
    padding: 16px;
    border-bottom: 8px solid rgb(47, 51, 54);
}
.wd-explore-hyperlink-tabs a{
    color: rgb(110, 118, 125);
    margin: 16px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.wd-explore-tab-active {
    color: rgb(29, 161, 242) !important;
    border-bottom: 4px solid rgb(29, 161, 242);
    padding: 16px 0px;
    margin: 0px 16px;
}

.wd-suggested-posts {
    width: 100%;
}

.wd-post {
    border: 1px solid rgb(47, 51, 54);
    padding: 16px;
    justify-content: space-between;
    display: flex;
}

.wd-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-author {
    color: white;
    font-size: 13px;
    font-weight: bold;
    float:left;
    padding-right: 4px;
}
.wd-subtext {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-post-image {
    border-radius: 16px;
    height: 100px;
    width: 100px;
    float: right;
}